{% extends "layout.html" %}
{% block title %} Add Faculty {% endblock %}
{% block content %}


    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#AddFacultyModal">Add Faculty</button>

    <div class="modal fade" id="AddFacultyModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Faculty</h4>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('site.AddFaculty') }}" name="AddFaculty" role="form">
                        <input type="hidden" name="addFacultyForm" value="SharedHouseAnnouncement">
                        <div class="form-group">
                            <label for="InputLocationOfSharingHouse">Faculty Name</label>
                            <input class="form-control" name="InputFacultyName" id="InputFacultyName" placeholder="Enter faculty name" type="text" required>
                        </div>

                        <div class="form-group">
                            <label for="InputRentPriceOfSharingHouse">Faculty Code</label>
                            <input class="form-control" name = "InputFacultyCode" id="InputFacultyCode" placeholder="Enter faculty code" type="text" required>
                        </div>
                        <button type="reset">Reset</button>
                        <button type="submit" formmethod="POST">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


{%endblock %}