{% extends "layout.html" %}
{% block title %} Faculty Details {% endblock %}
{% block content %}
    <h1>Details for Faculty </h1>
	<br>
    <table style="width: 75%">
	    <tr>
            <td style="width: 40%">Faculty Name: {{ faculty.get_name() }}</td>
        </tr>
	    <tr>
            <td style="width: 40%">Faculty Code: {{ faculty.get_code() }}</td>
        </tr>
    </table>
	<br>

    <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#Faculty">Update Faculty</button>

    <div class="modal fade" id="Faculty" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Update Record</h4>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('site.AddFaculty') }}" name="AddFaculty" role="form">
                        <input type="hidden" name="form-name" value="AddFacultyUpdate">
                        <input type="hidden" name="faculty-id" value="{{ faculty.get_id() }}">
                        <div class="form-group">
                            <label for="InputDescription">Faculty Code</label>
                            <input class="form-control" name = "InputFacultyCode" id="InputFacultyCode" placeholder="Enter faculty code" type="text" required>
                        </div>
                        <div class="form-group">
                            <label for="InputCurrentLocation">Faculty Name</label>
                            <input class="form-control" name="InputFacultyName" id="InputFacultyName" placeholder="Enter faculty name" type="text" required>
                        </div>
                        <button type="reset">Reset</button>
                        <button type="submit" formmethod="POST">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-info btn-md"  data-toggle="modal" data-target="#confirm-delete">
		Delete Faculty
	</button>

	<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<p>Delete Record</p>
				</div>
				<div class="modal-body">
					<p>Are you sure to delete this record? </p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<form method="post" action="{{ url_for('site.delete_faculty', id=faculty.get_id()) }}">
						<button type="submit" class="btn btn-danger btn-ok">Delete</button>
					</form>
				</div>
			</div>
		</div>
	</div>



{% endblock %}