{% extends "layout.html" %}
{% block title %} Found Stuff Details {% endblock %}
{% block content %}
    <h1>Details for Found Property </h1>
	<br>
    <table style="width: 50%">
	    <tr>
            <td style="width: 40%"><b>Description</b></td>
            <td>{{ found.get_desc() }}</td>
        </tr>
	    <tr>
            <td style="width: 40%"><b>Current Location: </b></td>
            <td>{{ found.get_location() }}</td>
        </tr>
	    <tr>
            <td style="width: 40%"><b>Date of Finding (YYYY-MM-DD): </b></td>
            <td>{{ found.get_date() }}</td>
        </tr>
	    <tr>
            <td style="width: 40%"><b>Name of Person Who Found It: </b></td>
            <td>{{ found.get_name() }}</td>
        </tr>
	    <tr>
            <td style="width: 40%"><b>E-mail of Person Who Found It:</b></td>
            <td>{{ found.get_mail() }}</td>
        </tr>
        <tr>
            <td style="width: 40%"><b>Phone Number of Person Who Found It:</b></td>
            <td>{{ found.get_phone() }}</td>
        </tr>
	    <tr>
            <td style="width: 40%"><b>User Id: </b></td>
            <td>{{ found.get_user_id() }}</td>
        </tr>
    </table>
	<br>


	<button class="btn btn-info btn-md"  data-toggle="modal" data-target="#confirm-delete">
		Delete record
	</button>

	<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<p>Delete Record</p>
				</div>
				<div class="modal-body">
					<p>Are you sure to delete this record? </p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

					<form method="post" action="{{ url_for('site.delete_found_stuff', id=found.get_id()) }}">
						<button type="submit" class="btn btn-danger btn-ok">Delete</button>
					</form>

				</div>
			</div>
		</div>
	</div>




{% endblock %}