{% extends "layout.html" %}
{% block title %} Found Stuff Details {% endblock %}
{% block content %}
    <h1>Details for Found Property </h1>
	<br>
    <table style="width: 75%">
	    <tr>
            <td style="width: 40%"><b>Description</b></td>
            <td>{{ found.get_desc() }}</td>
        </tr>
	    <tr>
            <td style="width: 40%"><b>Current Location: </b></td>
            <td>{{ found.get_location() }}</td>
        </tr>
	    <tr>
            <td style="width: 40%"><b>Date of Finding (YYYY-MM-DD): </b></td>
            <td>{{ found.get_date() }}</td>
        </tr>
	    <tr>
            <td style="width: 40%"><b>Name of Person Who Found It: </b></td>
            <td>{{ found.get_name() }}</td>
        </tr>
	    <tr>
            <td style="width: 40%"><b>E-mail of Person Who Found It:</b></td>
            <td>{{ found.get_mail() }}</td>
        </tr>
        <tr>
            <td style="width: 40%"><b>Phone Number of Person Who Found It:</b></td>
            <td>{{ found.get_phone() }}</td>
        </tr>
	    <tr>
            <td style="width: 40%"><b>User Id: </b></td>
            <td>{{ found.get_user_id() }}</td>
        </tr>
    </table>
	<br>

    {% if user_id == found_user_id or current_user.is_admin %}
    <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#FoundSomething">Update Record</button>

    <div class="modal fade" id="FoundSomething" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Update Record</h4>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('site.FoundStuff') }}" name="FoundSomethingUpdate" role="form">
                        <input type="hidden" name="form-name" value="FoundSomethingUpdate">
                        <input type="hidden" name="found-id" value="{{ found.get_id() }}">
                        <div class="form-group">
                            <label for="InputDescription">Description</label>
                            <input class="form-control" name="FoundSomethingDescription" placeholder="Enter description" type="text">
                        </div>
                        <div class="form-group">
                            <label for="InputCurrentLocation">Current Location</label>
                            <input class="form-control" name="FoundSomethingCurrentLocation" placeholder="Enter current location" type="text">
                        </div>
                        <div class="form-group">
                            <label for="date">Date of finding</label>
                            <input class="form-control" name="FoundSomethingDate" type="date" value="date"><br>
                        </div>
                        <div class="form-group">
                            <label for="FinderName">Name of person who found</label>
                            <input class="form-control" name="FoundSomethingFinderName" placeholder="Enter Name" type="text">
                        </div>
                        <div class="form-group">
                            <label for="FinderMail">e-Mail of person who found</label>
                            <input class="form-control" name="FoundSomethingFinderMail" placeholder="Enter e-Mail" type="email">
                        </div>
                        <div class="form-group">
                            <label for="FinderPhone">Phone Number of person who found</label>
                            <input class="form-control" name="FoundSomethingFinderPhone" placeholder="05xxxxxxxxx" type="tel" maxlength="11" minlength="11" pattern="(?:050|053|054|055?)\d{1}\d{7}">
                        </div>
                        <button type="reset">Reset</button>
                        <button type="submit" formmethod="POST">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

	<button class="btn btn-info btn-md"  data-toggle="modal" data-target="#confirm-delete">
		Delete Record
	</button>

	<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<p>Delete Record</p>
				</div>
				<div class="modal-body">
					<p>Are you sure to delete this record? </p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

					<form method="post" action="{{ url_for('site.delete_found_stuff', id=found.get_id()) }}">
						<button type="submit" class="btn btn-danger btn-ok">Delete</button>
					</form>

				</div>
			</div>
		</div>
	</div>
    {% endif %}



{% endblock %}