{% extends "layout.html" %}
{% block title %} Found Stuff{% endblock %}
{% block content %}
    <div>
        <script src="{{ url_for('static', filename='js/lost_found/lost_found.js') }}"></script>
    </div>

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#FoundSomething">I found something</button>

    <div class="modal fade" id="FoundSomething" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Found Something</h4>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('site.FoundStuff') }}" name="FoundSomething" role="form">
                        <input type="hidden" name="form-name" value="FoundSomething">
                        <div class="form-group">
                            <label for="InputDescription">Description</label>
                            <input class="form-control" name="FoundSomethingDescription" placeholder="Enter description" type="text" required>
                        </div>
                        <div class="form-group">
                            <label for="InputCurrentLocation">Current Location</label>
                            <input class="form-control" name="FoundSomethingCurrentLocation" placeholder="Enter current location" type="text" required>
                        </div>
                        <div class="form-group">
                            <label for="date">Date of finding</label>
                            <input class="form-control" name="FoundSomethingDate" type="date" value="date" required><br>
                        </div>
                        <div class="form-group">
                            <label for="FinderName">Name of person who found(If left blank, your information is used)</label>
                            <input class="form-control" name="FoundSomethingFinderName" placeholder="Enter Name" type="text">
                        </div>
                        <div class="form-group">
                            <label for="FinderMail">e-Mail of person who found(If left blank, your information is used)</label>
                            <input class="form-control" name="FoundSomethingFinderMail" placeholder="Enter e-Mail" type="email">
                        </div>
                        <div class="form-group">
                            <label for="FinderPhone">Phone Number of person who found</label>
                            <input class="form-control" name="FoundSomethingFinderPhone" placeholder="05xxxxxxxxx" type="tel" maxlength="11" minlength="11" pattern="(?:050|053|054|055?)\d{1}\d{7}" required>
                        </div>
                        <button type="reset">Reset</button>
                        <button type="submit" formmethod="POST">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% if founditems %}
        <br><br>
        <table id = "dataTable" class="table table-bordered dataTable" role="grid" aria-describedby="dataTable_info" style="width:100%" cellspacing="0">
            <thead>
            <tr role="row">
                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 20%;" aria-label="Description: activate to sort column ascending">Description</th>
                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 13%;" aria-label="Current Location: activate to sort column ascending">Current Location</th>
                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 17%;" aria-label="Date of Finding: activate to sort column ascending">Date of Finding (YYYY-MM-DD)</th>

                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 13%;" aria-label="Person Who Posted: activate to sort column ascending">Person Who Posted</th>
                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 10%;" aria-label="Edit-Update: activate to sort column ascending">Details</th>

            </tr>
            </thead>
            <tbody>
            {% for item in founditems %}
                <tr role="row">
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[2] }}</td>

                    <td>
                        <a href="{{ url_for('site.SelectedProfilePage', username=item[6]) }}">
                            <button type="submit"  class="btn btn-info btn-md" data-toggle="modal" data-target="#profileOfOwnerAd">Go to Profile</button>
                        </a>
                    </td>
                    <td>
						<a href="{{ url_for('site.selected_found_stuff', foundId=item[7]) }}">
                            <button type="button" class="btn btn-info btn-md">Go to Details</button>
                        </a>
					</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <br>
        <p>There are no items.</p>
    {% endif %}
{%endblock %}