{% extends "layout.html" %}
{% block title %} Lost Stuff Details {% endblock %}
{% block content %}
    <h1>Details for Lost Property </h1>
	<br>
	<p> Description: {{ lost.get_desc() }}</p>
	<p> Possible Location: {{ lost.get_location() }}</p>
	<p> Possible Date of Losing (YYYY-MM-DD): {{ lost.get_date() }}</p>
	<p> Name of Person Who Lost It: {{ lost.get_name() }}</p>
	<p> E-mail of Person Who Lost It: {{ lost.get_mail() }}</p>
    <p> Phone Number of Person Who Lost It: {{ lost.get_phone() }}</p>
	<p> User Id: {{ lost.get_user_id() }}</p>

	<br>


	<button class="btn btn-info btn-md"  data-toggle="modal" data-target="#confirm-delete">
		Delete record
	</button>

	<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<p>Delete Record</p>
				</div>
				<div class="modal-body">
					<p>Are you sure to delete this record? </p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

					<form method="post" action="{{ url_for('site.delete_lost_stuff', id=lost.get_id()) }}">
						<button type="submit" class="btn btn-danger btn-ok">Delete</button>
					</form>

				</div>
			</div>
		</div>
	</div>




{% endblock %}