{% extends "layout.html" %}
{% block title %} Special Students{% endblock %}
{% block content %}
    <div>
        <script src="{{ url_for('static', filename='js/special_lesson/special_lesson.js') }}"></script>
    </div>

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#SpecialStudent">New Special Student</button>

    <div class="modal fade" id="SpecialStudent" role="dialog">
        <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add New Special Student Entry</h4>
                      </div>
                      <div class="modal-body">
                        <form method="POST" action="{{ url_for('site.SpecialStudent') }}" name="SpecialStudent" role="form" required>
                          <input type="hidden" name="form-name" value="SpecialStudent">
                          <div class="form-group">
                            <label for="OwnerName">Subject</label>
                            <input class="form-control" name="SpecialStudentSubject" placeholder="Enter Subject" type="text" required>
                          </div>
                          <div class="form-group">
                            <label for="InputDescription">Name of Student(If left blank, your information is used)</label>
                            <input class="form-control" name="SpecialStudentName" placeholder="Enter Name of Student" type="text">
                          </div>
                          <div class="form-group">
                            <label for="InputPossibleLocation">E-mail of Student(If left blank, your information is used)</label>
                            <input class="form-control" name="SpecialStudentMail" placeholder="Enter e-mail of Student" type="email">
                          </div>
                          <div class="form-group">
                            <label for="date">Phone Number</label>
                            <input class="form-control" name="SpecialStudentPhone" placeholder="05xxxxxxxxx" type="tel" maxlength="11" minlength="11" pattern="(?:050|053|054|055?)\d{1}\d{7}" required><br>
                          </div>
                          <button type="reset">Reset</button>
                          <button type="submit" formmethod="POST">Send</button>
                        </form>
                      </div>
                    </div>
        </div>
    </div>
    {% if specialstudents %}
        <br><br>
        <table id = "dataTable" class="table table-bordered dataTable" role="grid" aria-describedby="dataTable_info" style="width:100%" cellspacing="0">
            <thead>
            <tr role="row">
                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 20%;" aria-label="Subject: activate to sort column ascending">Subject</th>
                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 22%;" aria-label="Name of Student: activate to sort column ascending">Name of Student</th>

                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 14%;" aria-label="Person Who Posted: activate to sort column ascending">Person Who Posted</th>
                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 12%;" aria-label="Edit-Update: activate to sort column ascending">Details</th>
            </tr>
            </thead>
            {% for item in specialstudents %}
                <tr>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1] }}</td>

                    <td>
                        <a href="{{ url_for('site.SelectedProfilePage', username=item[4]) }}">
                            <button type="submit"  class="btn btn-info btn-md" data-toggle="modal" data-target="#profileOfOwnerAd">Go to Profile</button>
                        </a>
                    </td>
                    <td>
						<a href="{{ url_for('site.selected_special_student', studentId=item[5]) }}">
                            <button type="button" class="btn btn-info btn-md">Go to Details</button>
                        </a>
					</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <br>
        <p>There are no students available currently.</p>
    {% endif %}
{%endblock %}