{% extends "layout.html" %}
{% block title %} Student Details {% endblock %}
{% block content %}
    <h1>Details for Student </h1>
	<br>
	<p> Subject for Special Lesson: {{ student.get_subject() }}</p>
	<p> Name of Student Candidate: {{ student.get_name() }}</p>
	<p> E-mail of Student Candidate: {{ student.get_mail() }}</p>
    <p> Phone Number of Student Candidate: {{ student.get_phone() }}</p>
	<p> User Id: {{ student.get_user_id() }}</p>

	<br>


	<button class="btn btn-info btn-md"  data-toggle="modal" data-target="#confirm-delete">
		Delete record
	</button>

	<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<p>Delete Record</p>
				</div>
				<div class="modal-body">
					<p>Are you sure to delete this record? </p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

					<form method="post" action="{{ url_for('site.delete_special_student', id=student.get_id()) }}">
						<button type="submit" class="btn btn-danger btn-ok">Delete</button>
					</form>

				</div>
			</div>
		</div>
	</div>




{% endblock %}